In [6]:
#for문 작성
for i in (10,20,30):
    print(i)

10
20
30

In [7]:
#for문 작성
for i in [10,20,30]:
    print(i)
    print('-----')

10
-----
20
-----
30
-----

In [8]:
#부가세 10원
for i in [100,200,300]:
    print(i+10)

110
210
310

In [12]:
a = ["김밥", "라면", "튀김"]
for i in range(len(a)):
    print('오늘의 메뉴: ', a[i])

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [13]:
for i in ["김밥", "라면", "튀김"]:
    print('오늘의 메뉴: ', i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [21]:
a = ["SK하이닉스", "삼성전자", "LG전자"]
for i in a:
    print(len(i))

6
4
4

In [19]:
a = ['dog', 'cat', 'parrot']
for i in a:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [22]:
a = ['dog', 'cat', 'parrot']
for i in a:
    print(i[0])

d
c
p

In [23]:
a = [1, 2, 3]
for i in a:
    print('3 * %d' % i)

3 * 1
3 * 2
3 * 3

In [26]:
a = [1, 2, 3]
for i in a:
    print('%d * %d = %d' % (3,i,3*i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [28]:
a = ["가", "나", "다", "라"]
for i in a[1:]:
    print(i)

나
다
라

In [32]:
a = ["가", "나", "다", "라"]
for i in a[::-1]:
    print(i)

라
다
나
가

In [1]:
#음수
a = [3, -20, -3, 44]
for i in a:
    if i < 0:
        print(i)

-20
-3

In [2]:
#3의배수
a = [3, 100, 23, 44]
for i in a:
    if i % 3 == 0:
        print(i)

3

In [3]:
#3의배수
a = [13, 21, 12, 14, 30, 18]
for i in a:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

In [4]:
#3글자이상
a = ["I", "study", "python", "language", "!"]
for i in a:
    if len(i) >= 3:
        print(i)

study
python
language

In [9]:
#대문자만
a = ["A", "b", "c", "D"]
for i in a:
    if i.isupper():
        print(i)

A
D

In [11]:
#소문자만
a = ["A", "b", "c", "D"]
for i in a:
    if i.islower():
        print(i)

b
c

In [12]:
#첫글자 대문자
a= ['dog', 'cat', 'parrot']
for i in a:
    print(i.capitalize())

Dog
Cat
Parrot

In [13]:
#파일명
a = ['hello.py', 'ex01.py', 'intro.hwp']
for i in a:
    b, c = i.split('.')
    print(b)

hello
ex01
intro

In [15]:
#h인 파일
a = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in a:
    b = i.split('.')
    if b[1] == 'h':
        print(i)

intra.h
define.h

In [16]:
#h or c
a = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in a:
    b = i.split('.')
    if b[1] == 'h' or b[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [17]:
#순차 출력
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
#월드컵 출력
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [23]:
#3배수
for i in range(1,31):
    if i % 3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [25]:
#역
for i in range(9,-1,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [26]:
for i in range(10):
    print(float(i/10))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [29]:
#구구단 3단
for i in range(1,10):
    print('3 * %d = %d' % (i, 3*i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [30]:
#구구단 3단
for i in range(1,10,2):
    print('3 * %d = %d' % (i, 3*i))

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [31]:
#1-10합
total = 0
for i in range(1,11):
    total += i
print('합 = %d' % total)

합 = 55

In [32]:
#1-10합 홀수
total = 0
for i in range(1,11,2):
    total += i
print('합 = %d' % total)

합 = 25

In [34]:
#1-10곱
total = 1
for i in range(1,11):
    total *= i
print('곱 = %d' % total)

곱 = 3628800

In [35]:
#출력
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [36]:
#출력
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [37]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [39]:
price_list = [32100, 32150, 32000, 32500]
for i in reversed(price_list):
    print(price_list.index(i), i)

3 32500
2 32000
1 32150
0 32100

In [46]:
#1번 제외
price_list = [32100, 32150, 32000, 32500]
for i in range(1,len(price_list)):
    print(90 + 10 * i,price_list[i])

100 32150
110 32000
120 32500

In [52]:
#2개씩 출력
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [53]:
#3개씩 출력
my_list = ["가", "나", "다", "라", "마"]
for i in [0,1,2]:
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [54]:
#차이
my_list = [100, 200, 400, 800]
for i in [0,1,2]:
    print(my_list[i+1]-my_list[i])

100
200
400

In [57]:
#차이
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [71]:
#2차원
a = ['101호','102호']
b = ['201호','202호']
c = ['301호','302호']
d = []
d.append(a)
d.append(b)
d.append(c)
d

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [74]:
#2차원
start = ["시가", 100, 200, 300]
end =["종가", 80, 210, 330]
stock=[]
stock.append(start)
stock.append(end)
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [75]:
#디셔너리
value = {"시가":[100, 200, 300],"종가":[80, 210, 330]}
value

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [85]:
apart = [['101', '102'], ['201', '202'], ['301', '302']]
for i in apart:
    for j in i:
        print(j , '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [86]:
apart = [['101', '102'], ['201', '202'], ['301', '302']]
for i in reversed(apart):
    for j in i:
        print(j , '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [87]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in reversed(apart):
    for j in reversed(i):
        print(j , '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [90]:
apart = [ [101, 102], [201, 202], [301, 302] ]
apart = [['101', '102'], ['201', '202'], ['301', '302']]
for i in apart:
    for j in i:
        print(j , '호')
        print('------')

101 호
------
102 호
------
201 호
------
202 호
------
301 호
------
302 호
------

In [91]:
apart = [ [101, 102], [201, 202], [301, 302] ]
apart = [['101', '102'], ['201', '202'], ['301', '302']]
for i in apart:
    for j in i:
        print(j , '호')
    print('------')

101 호
102 호
------
201 호
202 호
------
301 호
302 호
------

In [92]:
apart = [ [101, 102], [201, 202], [301, 302] ]
apart = [['101', '102'], ['201', '202'], ['301', '302']]
for i in apart:
    for j in i:
        print(j , '호')
print('------')

101 호
102 호
201 호
202 호
301 호
302 호
------

In [96]:
# OHLC (open/high/low/close) 가격 정보
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j+j*0.014*0.01)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [97]:
#구분자
# OHLC (open/high/low/close) 가격 정보
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j+j*0.014*0.01)
    print('-'*5)

2000.28
3050.427
2050.287
1980.2772
-----
7501.05
2050.287
2050.287
1980.2772
-----
15452.163
15052.107
15552.177
14902.086
-----

In [98]:
#result
# OHLC (open/high/low/close) 가격 정보
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    for j in i:
        result.append(j+j*0.014*0.01)
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [99]:
# OHLC (open/high/low/close) 가격 정보
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    a = []
    for j in i:
        a.append(j+j*0.014*0.01)
    result.append(a)
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [105]:
#종가만
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [106]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [107]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [112]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(abs(row[1]-row[2]))
print(volatility)

[40, 30, 10]

In [113]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [114]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

total = 0
for row in ohlc[1:]:
    total += row[0] - row[3]
total

0