In [4]:
#25.1 딕셔너리 조작하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x.setdefault('f', 100)    #setdefault는 키-값 쌍 추가만
x.setdefault('b', 100)    #실행 안함
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [1]:
#25.1.3  딕셔너리에서 키의 값 수정하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
#x.update(a=90)        # update는 키가 문자열  키-값 쌍 추가와 값 수정이 가능
#x.update(e=50)
#x.update(a=900, f=60)
y = {1: 'one', 2: 'two'}
#y.update({1: 'ONE', 3: 'THREE'})    # update는 키가 숫자열시  디셔러리 현태로 update
#y.update([[2, 'TWO'], [4, 'FOUR']])  #키가 숫자
y.update(zip([1, 2], ['one', 'two'])) #키가 숫자시 zip
y

{1: 'one', 2: 'two'}

In [ ]:
#25.1.4  딕셔너리에서 키-값 쌍 삭제하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.pop('a')
x
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
del x['a']

In [ ]:
#25.1.5  딕셔너리에서 임의의 키-값 쌍 삭제하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()                                  #마지막

In [ ]:
#25.1.6  딕셔너리의 모든 키-값 쌍을 삭제하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

In [ ]:
#25.1.7  딕셔너리에서 키의 값을 가져오기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

In [ ]:
#25.1.8  딕셔너리에서 키-값 쌍을 모두 가져오기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()
x.keys()
x.values()

In [ ]:
#25.1.9  리스트와 튜플로 딕셔너리 만들기  
# defaultdict(기본값생성함수)  : from collections import defaultdict 
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x
y = dict.fromkeys(keys, 100)
>>> y

In [9]:
#반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for i in x:
    print(i, end=' ')
print()
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(key, value)

a b c d
a 10
b 20
c 30
d 40

In [11]:
#25.2.1  딕셔너리의 키만 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key in x.keys():
    print(key, end=' ')
print()
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for value in x.values():
    print(value, end=' ')

a b c d
10 20 30 40

In [16]:
#25.3 딕셔너리 표현식 사용하기
#keys = ['a', 'b', 'c', 'd']
#x = {key: value for key, value in dict.fromkeys(keys).items()}
#x

#{key: 0 for key in dict.fromkeys(['a', 'b', 'c', 'd']).keys()}               # 키만 가져옴

#{value: 0 for value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.values()}        # 값을 키로 사용

{value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}  # 키-값 자리를 바꿈

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [18]:
#25.3.1  딕셔너리 표현식에서 if 조건문 사용하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
 
#for key, value in x.items():
#    if value == 20: 
#        del x[key]     # 키-값 쌍 삭제
#        
#print(x)

x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

In [19]:
#25.4 딕셔너리 안에서 딕셔너리 사용하기
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [24]:
#25.5 딕셔너리의 할당과 복사
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x
x is y
True
y['a'] = 99
x
y

{'a': 99, 'b': 0, 'c': 0, 'd': 0}

In [23]:
#25.5.1  중첩 딕셔너리의 할당과 복사 알아보기
#x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
#y = x.copy()                 #copy.deepcopy(x) 비교
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
import copy             # copy 모듈을 가져옴
y = copy.deepcopy(x)    # copy.deepcopy 함수를 사용하여 깊은 복사
y['a']['python'] = '2.7.15'
#x
y

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [26]:
#25.7 연습문제: 평균 점수 구하기
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
average = sum(maria.values())/len(maria)                                         
print(average)

89.25

In [35]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
 
x = {key: value for key, value in x.items() if value != 30 }
x = {key: value for key, value in x.items() if key != 'delta' }

 
print(x)

alpha bravo charlie delta
10 20 30 40
{'alpha': 10, 'bravo': 20}