In [2]:
#  package import
import warnings   #------------------------------------------------------
warnings.filterwarnings("ignore")

import os
from os.path import join
import missingno as msno

import pandas as pd
import numpy as np
import missingno as msno

from sklearn.model_selection import KFold, cross_val_score  
from sklearn.model_selection import train_test_split        
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor 
from lightgbm import LGBMRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.model_selection import GridSearchCV

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
#1) data read
data_dir = os.getenv('HOME')+'/aiffel/98_aiff_report/220921_Datathon'

aisles_data_path = join(data_dir, 'aisles.csv')
departments_data_path = join(data_dir, 'departments.csv')
order_products__prior_data_path = join(data_dir, 'order_products__prior.csv')
order_products__train_data_path = join(data_dir, 'order_products__train.csv')
orders_data_path = join(data_dir, 'orders.csv')
products_data_path = join(data_dir, 'products.csv')

aisles = pd.read_csv(aisles_data_path)
departments = pd.read_csv(departments_data_path)
order_products__prior = pd.read_csv(order_products__prior_data_path)
order_products__train = pd.read_csv(order_products__train_data_path )
orders = pd.read_csv(orders_data_path)
products = pd.read_csv(products_data_path)

In [8]:
order_products__prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [4]:
#중복
products.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49683    False
49684    False
49685    False
49686    False
49687    False
Length: 49688, dtype: bool

In [3]:
#1) 결측치 확인 
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [4]:
orders['order_dow'].value_counts()/len(orders['order_id'])

0    0.175648
1    0.171723
2    0.136582
5    0.132522
6    0.131175
3    0.127729
4    0.124621
Name: order_dow, dtype: float64

In [5]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0